<!-- BEGIN PAGE -->
<!-- BEGIN PAGE -->
<div class="page-content">
  <!-- BEGIN PAGE CONTAINER-->
  <div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
      <div class="span12">  
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->     
        <h3 class="page-title">
          <span class="main_title" id="<%= params[:info_type] %>">舆情处理</span>
          <small>对信息进行审核处理工作</small>
        </h3>
        <ul class="breadcrumb">
          <li>
            <i class="icon-home"></i>
            <a href="#">舆情处理</a> 
            <i class="icon-angle-right"></i>
          </li>
          <li><a href="#"><%= @typestr%></a></li>

          <li class="pull-right no-text-shadow">
            <div id="filter" class="filter">
              时间：<input type="text" id="startTime" readonly="">
              <select name="" id="startHours">
                <% for i in 0..23 %>
                    <option value="<%= i %>"><%= i %>时</option>
                <% end %>
              </select> 至 <input type="text" id="endTime" readonly=""> 
              <select name="" id="endHours">
                <% for i in 0..23 %>
                    <option value="<%= i %>"><%= i %>时</option>
                <% end %>
              </select>
              <select name="" id="order" style="width:80px;">
                <option value="time">时间顺序</option>
                <option value="urgency">预警级别</option>
              </select>
             
              <button id="conditionSearch" class="gray-btn add-btn ok_btn" style="margin-right:5px;">应用</button>
              <a id="conditionSearch" href="#myModal" class="gray-btn add-btn excel_btn" data-toggle="modal" style = "padding:1.5px 5px 1.5px 5px;">批量处理</a>
            </div>      
          </li>
         


        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->


    <!-- BEGIN PAGE CONTENT--> 
    <div class="row-fluid profile">
    	<div class="span12 maincontent" id="<%= @type %>">
    		<!-- BEGIN SAMPLE TABLE PORTLET-->
    		<div class="tabbable tabbable-custom">
    			<ul class="nav nav-tabs">
    				<li class="active"><a href="#" data-toggle="tab" class="nohandle">待处理信息(<em><%= unhandle_num %></em>)</a></li>
    				<li><a href="#" data-toggle="tab" class="handled">已处理(<em><%= handled_num %></em>)</a></li>
    				<li><a href="#" data-toggle="tab" class="ignored">已忽略(<em><%= ignored_num %></em>)</a></li>
    			</ul>
    			<div class="tab-content">
    			   <div class="tab-pane row-fluid active" id="main-containt">
    			   </div>
    		  </div>
        </div>
    		<!-- END SAMPLE TABLE PORTLET-->
      </div>
    </div>
    <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->    
  </div>
  <!-- END PAGE -->
</div>
<!-- END CONTAINER -->



<!-- Modal -->
<div id="myModal" class="modal hide fade" style="width:420px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">批量处理工具</h3>
  </div>
  <div class="modal-body" style="padding-left:40px;">
   
        <div class="control-group">
          <label class="control-label">关键信息语句(<a href="javascript:;" class="searchbtn">点击查询</a>)</label>
          <div class="controls">
            <textarea class="large m-wrap keystr" rows="3"></textarea>
          </div>
       </div>
       <div class="control-group">
          <label class="control-label">将相关信息标记为</label>
          <div class="controls">

              <div>标签：<select data-placeholder="添加标签" class="chosen" multiple="multiple" tabindex="3" style="width:300px;">
              <option value=""></option>
              <% label_categories.each do |c| %>
              <optgroup label="<%= c.str %>">
                <% label_at_category(c.id).each do |l| %>
                  <option><%= l.str %></option>
                <% end %>
              </optgroup>
              <% end %>
              </select>
             <br><br>
            情感：<select name="" id="emotion" style="width:100px">
                <option value="1">正面</option>
                <option value="3">中性</option>
                <option value="2">负面</option>
              </select>
            </div>
            
         

          </div>
          -----------------------------------------------
          <div class="controls">
              <input type="checkbox" value="" id="ignoreornot" style="opacity: 0;">全部忽略
          </div>
       </div>
     
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button class="btn btn-primary btn_handle_list">处理</button>
  </div>
</div>


<%=javascript_include_tag params[:controller]%>     

<script>
  var flag=0;
  $(".searchbtn").click(function(){
    if($(".keystr").val().length>0){
      javascript:window.open("/search/index?query="+$(".keystr").val(),"_blank");
      flag = 1;
    }
  });

  $(".btn_handle_list").click(function(){


    if(flag==0){
      alert("请先查询包含关键语句的信息列表！");
      return;
    }

    if(confirm('确认无误?')){  
      $("#alert").show();
      var theignore = 0;
      if($("#ignoreornot").attr("checked")) theignore = 1;

      var str ="";
      $(".chzn-choices").find("span").each(function(){
        str += $(this).html()+" ";
      });

      $.get("/inbox/"+infotype+"/handlelist", {keystr :$(".keystr").val(), sentiment: $("#emotion").val(), urgency: $("#urgency").val(), labelstr: str ,ignore: theignore },
          function(data){
              if(data=="OK"){
                $("#alert").hide();
                flag = 0;
                $('#myModal').modal("hide");
                location.reload();
              }
          }).fail(function() { alert("error"); }); 
   }  
    
  });
</script>