<title>系统配置</title>
<!-- BEGIN PAGE -->
<div class="page-content">
	<!-- BEGIN PAGE CONTAINER-->
	<div class="container-fluid">
		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12"> 	
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
				<h3 class="page-title">
					<span class="main_title" id="hot">系统配置</span>
					<small>自定义需关注事件的关键词、标签、信息来源等基本配置</small>
				</h3>
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="/system_setting/overall_config">系统配置</a> 
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="#">基本设置</a></li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN VALIDATION STATES-->

					<div class="portlet box blue">
						<div class="portlet-title">
							<h4>
								<i class="icon-reorder"></i>
								配置热点事件
							</h4>
						</div>


								<div class="portlet-body form">

									<%= form_tag('/system_setting/overall_create') do %>
									<div class="form-wizard">  
										<div class="navbar steps">
					                         <div class="navbar-inner">
					                            <ul class="row-fluid nav nav-pills">
					                               <li class="span3 active">
					                                  <a href="#tab1" data-toggle="tab" class="step active">
					                                  <span class="number">1</span>
					                                  <span class="desc"><i class="icon-ok"></i>基本配置</span>   
					                                  </a>
					                               </li>
					                               <li class="span3">
					                                  <a href="#tab2" data-toggle="tab" class="step">
					                                  <span class="number">2</span>
					                                  <span class="desc"><i class="icon-ok"></i>标签组详细配置</span>   
					                                  </a>
					                               </li>
					                               <li class="span3">
					                                  <a href="#tab3" data-toggle="tab" class="step">
					                                  <span class="number">3</span>
					                                  <span class="desc"><i class="icon-ok"></i>标签关键词配置</span>   
					                                  </a>
					                               </li>
					                               <li class="span3">
					                                  <a href="#tab4" data-toggle="tab" class="step">
					                                  <span class="number">4</span>
					                                  <span class="desc"><i class="icon-ok"></i>信息来源配置</span>   
					                                  </a> 
					                               </li>
					                            </ul>
					                         </div>
					                      </div>
										<div id="bar" class="progress progress-success progress-striped">
						                                 <div class="bar" style="width: 25%;"></div>
						                </div>
										<div class="accordion-group clear" style="padding:10px;">
											<h4>热点事件名</h4>
											<div class="controls">
												<%= text_field_tag :name, params[:name] %>
											</div>
										</div>
										<div class="accordion-group clear" style="padding:10px;">
											<h4>包含以下全部关键词</h4>
											<div class="controls">
												<%= text_field_tag :keywords ,params[:keywords] ,:class => "m-wra tags"%>
											</div>
										</div>
										<div id='label_group_div' class="accordion-group clear" style="padding:10px;">
											<h4>标签组</h4>

											<table id='lable_group_table' class="table table-striped  table-hover" >
												<thead>
													<tr style='display: block;'>
														<th style='width:20px;text-align:center'>#</th>
														<th style='width:250px;text-align:center'>标签组名</th>
														<th style='width:200px;text-align:center'>标签组分类</th>
														<th style='width:80px;text-align:center'>删除</th>
													</tr>
												</thead>
												<tbody>
													<tr id='template_tr' style='display:none'>
														<td style='width:20px;text-align:center'>
														1
														</td>
														<td style='width:250px;text-align:center'>
															<div class="controls">
																<%= text_field_tag :lable ,params[:lable] %>
															</div>
														</td>
														
														<td style='width:200px;text-align:center'>
					                                       <div class="controls">
															<select  name='group_select' class="small m-wrap" >
					                                             <option value="Category 1">按关键词</option>
					                                             <option value="Category 2">机器学习</option>
					                                          </select>
					                                       </div>
														</td>
														<td style='width:80px;text-align:center'>
															<a href="#" onclick='del_label_group(this)'><i class="icon-remove icon-white"></i></a>
														</td>
													<tr style='display:block'>
														<td style='width:20px;text-align:center'>
														1
														</td>
														<td style='width:250px;text-align:center'>
															<div class="controls">
																<%= text_field_tag :label1 ,params[:label1] %>
															</div>
														</td>
														
														<td style='width:200px;text-align:center'>
					                                       <div class="controls">
															<select  name='myselct1' class="small m-wrap" >
					                                             <option value="Category 1">按关键词</option>
					                                             <option value="Category 2">机器学习</option>
					                                          </select>
					
					                                       </div>
														</td>
													
														<td style='width:80px;text-align:center'>
															<a href="#" onclick='del_label_group(this)' ><i class="icon-remove icon-white"></i></a>
														</td>
													</tr>

												</tbody>
											</table>
											
											<button  type="button" class="btn blue" 
												onclick="add_label_group()">
												添加标签组 <i class="icon-plus"></i>
											</button>
										</div>
										<div class="accordion-group clear" style="padding:10px;">
											<h4>关注时间</h4>
											<div class = "filter" style="text-align:left;">
											时间：
											<%= text_field_tag :start_at,params[:start_at] ,:readonly=>true ,:class=> "mydate" %>
											至
											<%= text_field_tag :end_at, params[:end_at] ,:readonly=>true ,:class=> "mydate" %>
											</div>
										</div>
										<div class="form-actions">
											<button type="submit" class="btn add_btn green">下一步<i class="m-icon-swapright m-icon-white"></i></button>
											<button type="button" class="btn cancel_btn">取消</button>
										</div>
									</div>
									<% end %>
									<!-- END FORM-->
								</div>
					
				</div>
				<!-- END VALIDATION STATES-->
			</div>
		</div>
	<!-- END PAGE CONTAINER-->		
</div>
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<script type="text/javascript">

var label_group_count = 2
function add_label_group()
{
	var mytbody = document.getElementById('lable_group_table').getElementsByTagName('tbody')[0];
	var trtemplate = document.getElementById('template_tr');

	var newtr = mytbody.insertRow(-1);

	newtr.innerHTML = trtemplate.innerHTML
	newtr.style.display='block';
	newtds = newtr.getElementsByTagName('td');
	newtds[0].innerHTML = label_group_count;
	newtds[1].getElementsByTagName('input')[0].id='label'+label_group_count;
	newtds[1].getElementsByTagName('input')[0].name='label'+label_group_count;

	radiobtns = newtds[2].getElementsByTagName('select');
	radiobtns[0].name = 'myselct'+label_group_count;
	radiobtns[0].id = 'myselct'+label_group_count;
	
	label_group_count = label_group_count+1;
}

function del_label_group(obj)
{
	var row_index = obj.parentNode.parentNode.rowIndex;
	var mytbody = document.getElementById('lable_group_table');
	mytbody.deleteRow(row_index);
}

$(function(){
	Date.prototype.to_s = function() {
		var mm = this.getMonth() + 1;
		var dd = this.getDate();
		if (mm < 10)
			mm = '0' + mm;
		if (dd < 10)
			dd = '0' + dd;
		return this.getFullYear() + '-' + mm + '-' + dd;
	};

	var today = new Date();
	var yesterday = new Date(today - 24 * 60 * 60 * 1000);
	var mydStartTime = $('#start_at');
	var mydEndTime = $('#end_at');

	mydStartTime.val(yesterday.to_s());
	mydEndTime.val(today.to_s());

	$(".add_btn").click(function(){

			if($("#name").val().length<1){
				alert("请输入热点事件名称!");
				$("#name").focus();
				return false;
			}
			if($("#keywords").val().length<1){
				alert("请至少输入一个关键词!");
				return false;
			}

			for(var i=1;i<50;i++)
			{
				if(typeof($("#label"+i))!='undefined')
				{
					if($("#label"+i).val().length<1){
						alert("请输入标签组"+i+"名称!");
						$("#label"+i).focus();
						return false;
				}
			}
		}
	});

		$(".cancel_btn").click(function(){
			if (confirm("确认取消？")) {
            	window.location.href="/system_setting/index"; 
       		}	 
		})
	
});
	

</script>