<!-- BEGIN PAGE -->
<div class="page-content">
  <!-- BEGIN PAGE CONTAINER-->
  <div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
      <div class="span12">  
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->     
        <h3 class="page-title">
          <span class="main_title" id="opponent">舆情展示</span>
          <small>所有相关舆情的展示</small>
        </h3>
        <ul class="breadcrumb">
          <li>
            <i class="icon-home"></i>
            <a href="#">舆情展示</a> 
            <i class="icon-angle-right"></i>
          </li>
          <li><a href="/show/byopponent">竞品新闻展示</a><i class="icon-angle-right"></i></li>
          <li><a href="#"><%= @opk_str %></a></li>
          <li class="pull-right no-text-shadow">
            <div id="filter" class="filter">
              时间：<input type="text" id="startTime" readonly="">
              <select name="" id="startHours">
                <% for i in 0..23 %>
                    <option value="<%= i %>"><%= i %>时</option>
                <% end %>
              </select> 至 <input type="text" id="endTime" readonly=""> 
              <select name="" id="endHours">
                <% for i in 0..23 %>
                    <option value="<%= i %>"><%= i %>时</option>
                <% end %>
              </select>
              <button id="conditionSearch" class="gray-btn add-btn ok_btn">应用</button>
            </div>      
          </li>

        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT--> 


<div class="row-fluid">
	<div class="span12 maincontent">
		<!-- BEGIN SAMPLE TABLE PORTLET-->
    <%= render :partial => "infobyopponent", :collection => @infos %>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>




    <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->    
  </div>
  <!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<script type="text/javascript">
var type=$(".maincontent").attr("id");
var p=1;
var start=0;
var end=0;
var order="time";
var emotion="0";


$(function() {
  loadMore();
  
  
  $(".excel_btn").live('click',function(){
    var dStartTime = $('#startTime');
    var dEndTime = $('#endTime');
    var dStartHours = $('#startHours');
    var dEndHours = $('#endHours');
    var d1=dStartTime.val()+" "+dStartHours.val()+":00:00";
    var d2=dEndTime.val()+" "+dEndHours.val()+":59:00";
    start=new Date(d1).getTime();
    end=new Date(d2).getTime();
    //alert("http://218.104.118.34/tbs/dailyreport.php?type="+type+"&d1="+start+"&d2="+end);
    //window.open("http://218.104.118.34/tbs/dailyreport.php?type="+type+"&d1="+start+"&d2="+end);
    window.open("<%= phpreporturl %>dailyreport.php?type=opponent&d1="+start+"&d2="+end);
  });
  
  $(".ok_btn").live('click',function(){
    var dStartTime = $('#startTime');
    var dEndTime = $('#endTime');
    var dStartHours = $('#startHours');
    var dEndHours = $('#endHours');
    var d1=dStartTime.val()+" "+dStartHours.val()+":00:00";
    var d2=dEndTime.val()+" "+dEndHours.val()+":59:00";
    start=new Date(d1).getTime();
    end=new Date(d2).getTime();
    p=0;
    //alert(order);
    $(".maincontent").html("");
    //alert("${ctx}/show/"+type+"?page=" + p +"&d1=" + start+"&d2=" + end);
    loadMore();
    
    
  });
  
});

window.onscroll = function() {
  var winScroll = document.documentElement.scrollTop
      || document.body.scrollTop;
  //console.log(winScroll+'  '+(document.body.offsetHeight - document.documentElement.clientHeight));
  if (winScroll == (document.body.offsetHeight - document.documentElement.clientHeight+42)) {
    
    loadMore();

  }
};

function highlight(selector){
  selector.each(function(){
    var regEx = new RegExp(/ *@([{\u4e00-\u9fa5}A-Za-z0-9_-]*) ?/g);
    var str = $(this).text();
    var tmpstr=str.replace(regEx, "<a>@$1</a>");
    var keywords= $(this).parent().parent().attr('key');
    var keys=keywords.split(" ");
    for(var i=0;i<keys.length;i++){
      var reg=new RegExp("("+keys[i]+")","g"); 
      tmpstr=tmpstr.replace(reg,"<em>$1</em>");
    }
    $(this).html(tmpstr);
    
  });
  
}


function loadMore() {
  $("#alert").show();
  //alert("${ctx}/show/ajaxitems/"+type+"?page=" + p +"&d1=" + start+"&d2=" + end +"&sortType=" + order+"&emotion=" + emotion);
  //alert("/show/opponent/<%= params[:opponent_keyword_id]%>/"+p+"?d1=" + start+"&d2=" + end);
  $.get("/show/opponent/<%= params[:opponent_keyword_id]%>/"+p+"?d1=" + start+"&d2=" + end,

      function(data) {
        $(".maincontent").append(data);
        $("#alert").hide();
        highlight($(".mytitle"));
        highlight($(".weibo-txt"));
        p++;
      }).error(function() {
    alert("已经全部加载完毕");
    $("#alert").hide();
  });
}
</script>